body,html{
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;   
   
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.hompageback{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: url(../Images/homepageback.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divContainer{
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    font-weight: 600;
    font-family: Georgia, serif; 
    text-shadow: 2px 2px 2px black;
}

.divContainer p{
    margin: 20px 0;
    font-size: 2.4rem;
}

.divContainer input[type='text']{
    width: 80%; 
    border-radius: 20px 0 0 20px;
    font-size: 20px;
    height: 50px;
}

.divContainer button{
    border-radius: 0 20px 20px 0;
    
    float: left;
    width: 20%;
    padding: 10px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background: rgb(2, 45, 70);
    transition: background 0.2s;
    width: 10%;
}

.divContainer input[type='submit']:hover{
    background: rgba(2, 39, 75, 0.774);
}

.divContainer input[type='submit']:active{
    background:  rgba(2, 39, 75, 0.774);
}

form{
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 50%;
}

.divContainer input{
    outline: none;
    border: none;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}




.logo{
    font-family: 'MuseoModerno', cursive;
    position: absolute;
    font-size: 30px;
    top:0;
    left:0;
    padding: 2%;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

@media(max-width: 750px){
    .brand{
        font-size:5.5vw;
        padding: 5%;
    }

    form{
        width: 90%;
    }

}

@media(max-width: 1100px){
    .container input[type='text']{
        width: 60%;
    } 
    .container input[type='submit']{
        width: 23%;
    }
}
