body{
    width: 100%;
    height: 100%;
    background: rgb(11, 31, 85);
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}


.container{
    display: grid;
    width: 90vw;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    justify-items: center;  /*horizontal center item inside grid*/
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* Grid items */
.card{
    width: 90%;
    height: 450px;
    margin: 0;
    background: var(--grayback);
    border-radius: 10px;
    overflow: hidden;  /* to crop image inside rounded div*/
    position: relative;
    max-width: 400px;
    box-shadow: var(--shadow)
}

/* Show hover effect for image while hover over card */
.card:hover .card-image {
    transform: scale(1.1);
}


/* Movie Image */
.card-image{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 600px;
    transition: transform 0.4s;
}

/* Image container */
.card-image-box{
    width: 100%;
    overflow: hidden; 
    height: 300px;
    position: relative;
    background: black;
}

/* Movie title */
.card-description{
    margin:0;
    color: rgba(255, 255, 255, 0.692);
    padding: 0px 15px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.card-description .topic{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.822);
}

.rating{
    color: rgb(10, 177, 10);
    font-weight: 500;
    text-shadow: 1px 1px 0.7px rgba(0, 0, 0, 0.808);
}

.card-rating i{
    color: rgba(255, 217, 0, 0.74);
}

.card-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    transition: all 0.4s;
}

.card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.heart{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 9px;
    margin:0;
    bottom: 20px;
    position: absolute;
    color: rgba(255, 255, 255, 0.466);
    transition: all 0.3s;
}


.black-filter{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    opacity: 0;
    transition: all 0.3s;
    color: gray;
    font-size: 3rem;
}
/* Center the eye icon in the middle */
.black-filter p{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-30%);
}

a{
    text-decoration: none;
    color: gray;
}

/* to apply black filter with an eye element in middle */
.card-image-box:hover .black-filter{
    opacity: 1;
}
