

#headbar{
    width: 100%;
    height: 80px;    
    position: relative;
    top: 0;
    border-radius: 10px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.603);
    color: #ffffffee;
    text-align: left;
}

#headbar .brand{
    line-height: 80px;
    font-size: 1.6rem;
    margin: 0px 80px;
    display: inline-block;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
    font-family: 'MuseoModerno', cursive;   
}


#headbar .searchMovie{
    font-size: 1.3rem;
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

#headbar .searchKeyWord{
    width: 30%;
    height: 40px;
    border-radius:  20px 0 0 20px;      
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 20px;
}

#headbar button{
    width: 80px;
    height: 40px;
    border-radius: 0 20px 20px 0;   
    border: none;   
    outline: none;
    font-size: 20px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.527);
}

#headbar button:active{
    box-shadow: 0px 0px 0px #FFF;
}